app-decoplanner-gas {
  .color-red {
    color: #d00000;
  }
  .color-green {
    color: #69bb7b;
  }
  .color-yellow {
    color: #e0a800;
  }
  ion-icon {
    font-size: 50px;
  }

  width: 100%;
}
