app-decoplanner-settings {
  .item-input .label-md,
  .item-select .label-md,
  .item-datetime .label-md {
    color: rgb(0, 0, 0);
  }
  input {
    text-align: right;
  }
  .fixedLabel {
    min-width: 80% !important;
    max-width: 80% !important;
  }

  ion-item .item-inner {
    box-shadow: none !important;
    border-bottom: 1px solid #dedede !important;
  }

  .item-input .label-md,
  .item-select .label-md,
  .item-datetime .label-md {
    color: rgb(0, 0, 0);
  }

  .slider-scrollable-container {
    padding-top: 0px;
  }

  width: 100%;
}
