popover-gas-blender {
  /* Component styles go here */
  .scrollx {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    .item {
      flex: 0 0 0 0;
    }

    ::-webkit-scrollbar {
      display: none;
    }
  }
}
