<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352375493863-t8ga6slrbgav1q5nnlmds1u4bhnpc4et.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352375493863-t8ga6slrbgav1q5nnlmds1u4bhnpc4et</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>352375493863-343d0d1sajfdihsav1each5dse1dih15.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAfWJdPq4h5ZYznxBfv3-dBv_c3KxVFR-I</string>
	<key>GCM_SENDER_ID</key>
	<string>352375493863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gue.decoplanner-mobile</string>
	<key>PROJECT_ID</key>
	<string>u-dive-cloud-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>u-dive-cloud-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352375493863:ios:a199c9193b362a03dffe42</string>
	<key>DATABASE_URL</key>
	<string>https://u-dive-cloud-prod.firebaseio.com</string>
</dict>
</plist>